# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.metadata/
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/38/f00e32c89d0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/20/0028a6b09f0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/20/4041b669a00f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/25/e002c110a10f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/3e/001244c09e0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/4/a05d61fe9d0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/4c/c09ab7bd9e0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/4e/407b0a08a10f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/4f/c093f7399e0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/50/c030fcf29d0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/52/b024ba4ea00f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/56/90232929a00f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/5e/20aa60d69f0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/5e/f0e571bb9d0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/6d/30d258bf9f0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/6f/907fc083a70f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/7e/20ed677fa20f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/8/804b7a72a20f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/8/e0031f6ca00f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/84/c0d45d019e0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/94/20dc19a19e0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/97/1086ef01a10f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/97/20915e13a10f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/a0/6004dbfca00f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/a4/707289b59d0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/a5/50e01965a10f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/a5/70e2e13c9e0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/a8/b055f049a20f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/ae/200a5a0da10f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/b3/e02cd0b3a10f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/b6/9092bd009d0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/b7/70667fb19e0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/ba/e0a933f49e0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/ba/e0b3ca1aa00f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/bf/d0502cb99f0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/c1/40c85e2ba00f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/c1/b01668f89c0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/c9/e01af2b19d0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/ce/b08e2a5ea20f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/cf/90be5aa99e0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/d0/80603d09a20f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/d5/3024d3df9e0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/db/e016983fa00f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/e4/b063bfd09d0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.history/fb/002735799e0f001e1b8ce91f2b275892
exercicios/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
exercicios/.metadata/.plugins/org.eclipse.core.resources/.projects/helloWorld/org.eclipse.jdt.core/state.dat
exercicios/.metadata/.plugins/org.eclipse.core.resources/.projects/ravin/.indexes/af/history.index
exercicios/.metadata/.plugins/org.eclipse.core.resources/.projects/ravin/.indexes/e4/68/history.index
exercicios/.metadata/.plugins/org.eclipse.core.resources/.projects/ravin/.indexes/e4/8c/history.index
exercicios/.metadata/.plugins/org.eclipse.core.resources/.projects/ravin/.indexes/e4/a6/history.index
exercicios/.metadata/.plugins/org.eclipse.core.resources/.projects/ravin/.indexes/e4/cd/history.index
exercicios/.metadata/.plugins/org.eclipse.core.resources/.projects/ravin/.markers
exercicios/.metadata/.plugins/org.eclipse.core.resources/.projects/ravin/org.eclipse.jdt.core/state.dat
exercicios/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
exercicios/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
exercicios/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
exercicios/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
exercicios/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
exercicios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
exercicios/.metadata/.plugins/org.eclipse.debug.core/.launches/Main (1).launch
exercicios/.metadata/.plugins/org.eclipse.debug.core/.launches/Main.launch
exercicios/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
exercicios/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
exercicios/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
exercicios/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
exercicios/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
exercicios/.metadata/.plugins/org.eclipse.jdt.core/2219819701.index
exercicios/.metadata/.plugins/org.eclipse.jdt.core/3263404496.index
exercicios/.metadata/.plugins/org.eclipse.jdt.core/3957684988.index
exercicios/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
exercicios/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
exercicios/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
exercicios/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
exercicios/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
exercicios/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
exercicios/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
exercicios/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
exercicios/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
exercicios/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
exercicios/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
exercicios/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
exercicios/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/ravin/2023/6/25/refactorings.history
exercicios/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/ravin/2023/6/25/refactorings.index
exercicios/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
exercicios/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
exercicios/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.3.20211002-1029.xml
exercicios/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
exercicios/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
exercicios/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
exercicios/.metadata/.plugins/org.eclipse.ui.intro/introstate
exercicios/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
exercicios/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
exercicios/.metadata/version.ini
